div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
   // margin-top: -60px;
   // height: 60px;
    clear: both;
   
    color: $color-primary;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    background-color: #fafafb;
    padding: 30px 0 5px;
    border-top: 1px solid #eee;
    .logo{
      width: 150px;
      margin-bottom: 10px;
    }
    .contactnumber{
      font-size: 1.25rem;
      margin-bottom: 10px;
    }

    span {
      align-self: center;
      text-align: center;
    }
  }
}


@media only screen and (min-width: 768px) {
  .footer-col {
    footer {
      flex-direction: row;
    }
  }

}

