#site-navbar {
  background-color: $background-primary;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
 // background-color: #fff;
    box-shadow: 2px 1px 2px #eee;
    box-sizing: border-box;
}
